@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --color0: #ffffff;
    --color1: #ED8400;
    --color2: #009DED;
    --color3: #AD7937;
    --color4:#829199d1;
    --color5:#6e4f28a6;

    --font-principal: "Roboto Mono", monospace, sans-serif;

}

*{
 margin: 0px;
 padding: 0px;
}

body{
    background-color: black;
    font-family: var(--font-principal);
}

header{
    height: 50vw;
    min-height: 250px;
    max-height: 700px;
    text-align: center; 
    margin: 0px auto 40px auto;
    border-radius: 0px 0px ;
    padding: 8px 10px 8px 10px;
    box-shadow: inset 14px 13px 10px 0px #00000021;
}

.fundo{
    background-image: url("./imagens/teste4.1.png");
    background-size: 100%;
   
    background-repeat: no-repeat;
    background-position: top center;


}
    /* background-image: url("./imagens/teste4.png");
    background-size: 120% ;
    background-attachment: fixed;
    background-position: bottom center; */

header h1{
    font-size:5vw;;
   
    color: var(--color0);
}


nav{
    border-color: black;
    padding-top: 10px; 
  
}
nav > a{
    font-size: 2vw;
    padding: 10px;
    text-decoration: none;
    color: var(--color0);
 }

 nav > a:hover{
    color: rgba(255, 255, 255, 0.74);
    transition-duration: 5ms;    
    
 }
 
 main{
     max-width: 1600px;
     margin: auto;
     
    }
    
    p{
        color: var(--color0);
        padding: 20px;
        text-align: justify;
        text-indent: 30px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 2em;
        font-size: 1.5vw;    
    }
.largura{
    max-width: 1150px;
    margin: auto;
}

img{
   
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
   
    
}

 .imagem-principal {
    display: block;
    margin: auto;
    max-width: 1300px;
    min-width: 320px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}

.logo{
    width: 16vw;
    max-width: 308px;
    min-width: 50px;
    top: 11px;
    position: absolute;
    left: 0vw;
}


.botoes{
    padding-bottom: 35px;
    
    text-align: center;
}

.botoes a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 15px;
}

.botoes a:hover{
    text-decoration: underline;
}

footer{
    text-align: center;
    background-color:var(--color3)
}

footer > p{
   text-align: center;
   padding: 0px;
}

